<launch>
    <node pkg="ball_tracking" exec="ball_tracker">
        <param name="floor_methodType" value="0"/>
        <param name="floor_maxIterations" value="50"/>
        <param name="floor_normalDistanceWeight" value="0.1"/>
        <param name="floor_distanceThreshold" value="0.035"/>
        <param name="floor_epsAngle" value="0.3"/>
        <param name="floor_minPoints" value="1000"/>

        <param name="walls" value="1"/>
        <param name="wall_methodType" value="0"/>
        <param name="wall_maxIterations" value="50"/>
        <param name="wall_normalDistanceWeight" value="0.1"/>
        <param name="wall_distanceThreshold" value="0.2"/>
        <param name="wall_minPoints" value="1000"/>

        <param name="spheres" value="10"/>
        <param name="sphere_methodType" value="0"/>
        <param name="sphere_maxIterations" value="100"/>
        <param name="sphere_normalDistanceWeight" value="0.1"/>
        <param name="sphere_distanceThreshold" value="0.025"/>
        <param name="sphere_radiusMin" value="0.05"/>
        <param name="sphere_radiusMax" value="0.13"/>
        <param name="sphere_minPoints" value="1000"/>
        <param name="sphere_maxDistanceToFloor" value="0.05"/>
        <param name="use_sim_time" value="true"/>
    </node>
</launch>
